<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>my_auctproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ins_Servlet</display-name>
    <servlet-name>Ins_Servlet</servlet-name>
    <servlet-class>com.controller.Ins_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ins_Servlet</servlet-name>
    <url-pattern>/Ins_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mob_Verf</display-name>
    <servlet-name>Mob_Verf</servlet-name>
    <servlet-class>com.controller.Mob_Verf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mob_Verf</servlet-name>
    <url-pattern>/Mob_Verf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Valid</display-name>
    <servlet-name>Valid</servlet-name>
    <servlet-class>com.controller.Valid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Valid</servlet-name>
    <url-pattern>/Valid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPass</display-name>
    <servlet-name>ForgetPass</servlet-name>
    <servlet-class>com.controller.ForgetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPass</servlet-name>
    <url-pattern>/ForgetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSession</display-name>
    <servlet-name>UserSession</servlet-name>
    <servlet-class>com.controller.UserSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSession</servlet-name>
    <url-pattern>/UserSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidItem</display-name>
    <servlet-name>BidItem</servlet-name>
    <servlet-class>com.controller.BidItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidItem</servlet-name>
    <url-pattern>/BidItem</url-pattern>
  </servlet-mapping>
</web-app>